h1 {
    color:khaki;
    font-weight:bold;
    font-size:100px;
    font-family:Helvetica;
    text-align:center;
    background-image: url('/HelloWorld/images/pattern.jpeg');
    background-repeat: no-repeat;
}
h2 {
    color:white;
    font-weight:bold;
    font-size:32px;
    font-family:Helvetica;
    background-color:mediumspringgreen;
}
h3,p {
    font-family:helvetica;
}


.price {
    color: blue;
    font-weight: bold;
    font-family: helvetica;
}

.frames h2 {
    background-color:lightcoral;
}
.paint  h2 {
    background-color:skyblue;
}